$sprites-map : (
  add-list-act-full: (529px, 610px, -529px, -610px, 25px, 12px, 768px, 722px, '/img/sprites.png', 'add-list-act-full', ),
  add-list-act: (325px, 636px, -325px, -636px, 23px, 12px, 768px, 722px, '/img/sprites.png', 'add-list-act', ),
  add-list-h: (349px, 636px, -349px, -636px, 23px, 12px, 768px, 722px, '/img/sprites.png', 'add-list-h', ),
  add-list: (301px, 636px, -301px, -636px, 23px, 12px, 768px, 722px, '/img/sprites.png', 'add-list', ),
  arr-small-l-dis: (103px, 705px, -103px, -705px, 10px, 16px, 768px, 722px, '/img/sprites.png', 'arr-small-l-dis', ),
  arr-small-l: (758px, 559px, -758px, -559px, 10px, 16px, 768px, 722px, '/img/sprites.png', 'arr-small-l', ),
  arr-small-r-dis: (92px, 705px, -92px, -705px, 10px, 16px, 768px, 722px, '/img/sprites.png', 'arr-small-r-dis', ),
  arr-small-r: (81px, 705px, -81px, -705px, 10px, 16px, 768px, 722px, '/img/sprites.png', 'arr-small-r', ),
  auth-s-act: (113px, 688px, -113px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'auth-s-act', ),
  auth-s-h: (161px, 688px, -161px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'auth-s-h', ),
  auth-s: (177px, 688px, -177px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'auth-s', ),
  benefits_1: (345px, 426px, -345px, -426px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_1', ),
  benefits_2: (244px, 426px, -244px, -426px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_2', ),
  benefits_3: (547px, 426px, -547px, -426px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_3', ),
  benefits_4: (648px, 426px, -648px, -426px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_4', ),
  benefits_5: (0px, 559px, 0px, -559px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_5', ),
  benefits_6: (101px, 559px, -101px, -559px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_6', ),
  benefits_7: (446px, 426px, -446px, -426px, 100px, 100px, 768px, 722px, '/img/sprites.png', 'benefits_7', ),
  benefits_arr: (380px, 527px, -380px, -527px, 30px, 30px, 768px, 722px, '/img/sprites.png', 'benefits_arr', ),
  breadcrumbs-arr: (758px, 576px, -758px, -576px, 4px, 8px, 768px, 722px, '/img/sprites.png', 'breadcrumbs-arr', ),
  compare-act: (503px, 610px, -503px, -610px, 25px, 13px, 768px, 722px, '/img/sprites.png', 'compare-act', ),
  compare-h: (277px, 636px, -277px, -636px, 23px, 13px, 768px, 722px, '/img/sprites.png', 'compare-h', ),
  compare: (253px, 636px, -253px, -636px, 23px, 13px, 768px, 722px, '/img/sprites.png', 'compare', ),
  fancy-close-h: (650px, 559px, -650px, -559px, 26px, 25px, 768px, 722px, '/img/sprites.png', 'fancy-close-h', ),
  fancy-close: (677px, 559px, -677px, -559px, 26px, 25px, 768px, 722px, '/img/sprites.png', 'fancy-close', ),
  filter-bar-ico-act: (398px, 610px, -398px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-bar-ico-act', ),
  filter-bar-ico-h: (338px, 610px, -338px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-bar-ico-h', ),
  filter-bar-ico: (358px, 610px, -358px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-bar-ico', ),
  filter-ico-act: (749px, 510px, -749px, -510px, 16px, 16px, 768px, 722px, '/img/sprites.png', 'filter-ico-act', ),
  filter-ico-choosen-s: (373px, 636px, -373px, -636px, 16px, 12px, 768px, 722px, '/img/sprites.png', 'filter-ico-choosen-s', ),
  filter-ico-choosen: (481px, 610px, -481px, -610px, 21px, 16px, 768px, 722px, '/img/sprites.png', 'filter-ico-choosen', ),
  filter-ico-h: (752px, 527px, -752px, -527px, 16px, 16px, 768px, 722px, '/img/sprites.png', 'filter-ico-h', ),
  filter-ico: (0px, 688px, 0px, -688px, 16px, 16px, 768px, 722px, '/img/sprites.png', 'filter-ico', ),
  filter-tile-ico-act: (318px, 610px, -318px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-tile-ico-act', ),
  filter-tile-ico-h: (298px, 610px, -298px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-tile-ico-h', ),
  filter-tile-ico: (278px, 610px, -278px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'filter-tile-ico', ),
  filters-list-add: (395px, 598px, -395px, -598px, 10px, 10px, 768px, 722px, '/img/sprites.png', 'filters-list-add', ),
  filters-list-remove: (210px, 688px, -210px, -688px, 14px, 14px, 768px, 722px, '/img/sprites.png', 'filters-list-remove', ),
  flag-act: (131px, 660px, -131px, -660px, 20px, 13px, 768px, 722px, '/img/sprites.png', 'flag-act', ),
  flag-h: (171px, 660px, -171px, -660px, 18px, 13px, 768px, 722px, '/img/sprites.png', 'flag-h', ),
  flag: (152px, 660px, -152px, -660px, 18px, 13px, 768px, 722px, '/img/sprites.png', 'flag', ),
  footer-menu-fb: (579px, 559px, -579px, -559px, 38px, 38px, 768px, 722px, '/img/sprites.png', 'footer-menu-fb', ),
  footer-menu-gp: (423px, 559px, -423px, -559px, 38px, 38px, 768px, 722px, '/img/sprites.png', 'footer-menu-gp', ),
  footer-menu-ico1-h: (278px, 527px, -278px, -527px, 33px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico1-h', ),
  footer-menu-ico1: (244px, 527px, -244px, -527px, 33px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico1', ),
  footer-menu-ico2-h: (312px, 527px, -312px, -527px, 33px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico2-h', ),
  footer-menu-ico2: (346px, 527px, -346px, -527px, 33px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico2', ),
  footer-menu-ico3-h: (442px, 527px, -442px, -527px, 30px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico3-h', ),
  footer-menu-ico3: (411px, 527px, -411px, -527px, 30px, 30px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico3', ),
  footer-menu-ico4-h: (566px, 527px, -566px, -527px, 34px, 21px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico4-h', ),
  footer-menu-ico4: (531px, 527px, -531px, -527px, 34px, 21px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico4', ),
  footer-menu-ico5-h: (365px, 598px, -365px, -598px, 14px, 10px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico5-h', ),
  footer-menu-ico5: (380px, 598px, -380px, -598px, 14px, 10px, 768px, 722px, '/img/sprites.png', 'footer-menu-ico5', ),
  footer-menu-tw: (462px, 559px, -462px, -559px, 38px, 38px, 768px, 722px, '/img/sprites.png', 'footer-menu-tw', ),
  footer-menu-vk: (501px, 559px, -501px, -559px, 38px, 38px, 768px, 722px, '/img/sprites.png', 'footer-menu-vk', ),
  footer-menu-yt: (540px, 559px, -540px, -559px, 38px, 38px, 768px, 722px, '/img/sprites.png', 'footer-menu-yt', ),
  home-ico: (193px, 688px, -193px, -688px, 16px, 14px, 768px, 722px, '/img/sprites.png', 'home-ico', ),
  ico-list-act: (460px, 610px, -460px, -610px, 20px, 17px, 768px, 722px, '/img/sprites.png', 'ico-list-act', ),
  ico-list-h: (439px, 610px, -439px, -610px, 20px, 17px, 768px, 722px, '/img/sprites.png', 'ico-list-h', ),
  ico-list-in: (418px, 610px, -418px, -610px, 20px, 17px, 768px, 722px, '/img/sprites.png', 'ico-list-in', ),
  ico-list-s-act: (406px, 636px, -406px, -636px, 15px, 12px, 768px, 722px, '/img/sprites.png', 'ico-list-s-act', ),
  ico-list-s-h: (422px, 636px, -422px, -636px, 15px, 12px, 768px, 722px, '/img/sprites.png', 'ico-list-s-h', ),
  ico-list-s: (390px, 636px, -390px, -636px, 15px, 12px, 768px, 722px, '/img/sprites.png', 'ico-list-s', ),
  login-act: (236px, 636px, -236px, -636px, 16px, 21px, 768px, 722px, '/img/sprites.png', 'login-act', ),
  login-h: (202px, 636px, -202px, -636px, 16px, 21px, 768px, 722px, '/img/sprites.png', 'login-h', ),
  login-in: (219px, 636px, -219px, -636px, 16px, 21px, 768px, 722px, '/img/sprites.png', 'login-in', ),
  login-logged-b: (378px, 610px, -378px, -610px, 19px, 19px, 768px, 722px, '/img/sprites.png', 'login-logged-b', ),
  login-logged: (17px, 688px, -17px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'login-logged', ),
  login-s-act: (30px, 705px, -30px, -705px, 14px, 17px, 768px, 722px, '/img/sprites.png', 'login-s-act', ),
  login-s-h: (0px, 705px, 0px, -705px, 14px, 17px, 768px, 722px, '/img/sprites.png', 'login-s-h', ),
  login-s: (15px, 705px, -15px, -705px, 14px, 17px, 768px, 722px, '/img/sprites.png', 'login-s', ),
  logo-small: (618px, 559px, -618px, -559px, 31px, 31px, 768px, 722px, '/img/sprites.png', 'logo-small', ),
  main-banner-left: (391px, 0px, -391px, 0px, 377px, 423px, 768px, 722px, '/img/sprites.png', 'main-banner-left', ),
  main-banner-middle: (0px, 426px, 0px, -426px, 243px, 132px, 768px, 722px, '/img/sprites.png', 'main-banner-middle', ),
  main-banner-right: (0px, 0px, 0px, 0px, 390px, 425px, 768px, 722px, '/img/sprites.png', 'main-banner-right', ),
  mark-act: (80px, 660px, -80px, -660px, 16px, 25px, 768px, 722px, '/img/sprites.png', 'mark-act', ),
  mark-h: (114px, 660px, -114px, -660px, 16px, 25px, 768px, 722px, '/img/sprites.png', 'mark-h', ),
  mark-in: (97px, 660px, -97px, -660px, 16px, 25px, 768px, 722px, '/img/sprites.png', 'mark-in', ),
  mark-s-act: (45px, 705px, -45px, -705px, 11px, 17px, 768px, 722px, '/img/sprites.png', 'mark-s-act', ),
  mark-s-h: (69px, 705px, -69px, -705px, 11px, 17px, 768px, 722px, '/img/sprites.png', 'mark-s-h', ),
  mark-s: (57px, 705px, -57px, -705px, 11px, 17px, 768px, 722px, '/img/sprites.png', 'mark-s', ),
  menu-catalog-ico1-act: (704px, 559px, -704px, -559px, 26px, 25px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico1-act', ),
  menu-catalog-ico1: (731px, 559px, -731px, -559px, 26px, 25px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico1', ),
  menu-catalog-ico2-act: (228px, 610px, -228px, -610px, 24px, 23px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico2-act', ),
  menu-catalog-ico2: (253px, 610px, -253px, -610px, 24px, 23px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico2', ),
  menu-catalog-ico3-act: (601px, 527px, -601px, -527px, 28px, 21px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico3-act', ),
  menu-catalog-ico3: (630px, 527px, -630px, -527px, 28px, 21px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico3', ),
  menu-catalog-ico4-act: (502px, 527px, -502px, -527px, 28px, 26px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico4-act', ),
  menu-catalog-ico4: (473px, 527px, -473px, -527px, 28px, 26px, 768px, 722px, '/img/sprites.png', 'menu-catalog-ico4', ),
  pass-hidden: (555px, 610px, -555px, -610px, 27px, 11px, 768px, 722px, '/img/sprites.png', 'pass-hidden', ),
  pass-shown: (725px, 527px, -725px, -527px, 26px, 16px, 768px, 722px, '/img/sprites.png', 'pass-shown', ),
  plus-ico: (202px, 610px, -202px, -610px, 25px, 25px, 768px, 722px, '/img/sprites.png', 'plus-ico', ),
  search-ico-act: (49px, 688px, -49px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-act', ),
  search-ico-h: (65px, 688px, -65px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-h', ),
  search-ico-header: (81px, 688px, -81px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-header', ),
  search-ico-s-act: (97px, 688px, -97px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-s-act', ),
  search-ico-s-h: (33px, 688px, -33px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-s-h', ),
  search-ico-s: (129px, 688px, -129px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico-s', ),
  search-ico: (145px, 688px, -145px, -688px, 15px, 15px, 768px, 722px, '/img/sprites.png', 'search-ico', ),
  services-manufact: (314px, 559px, -314px, -559px, 50px, 49px, 768px, 722px, '/img/sprites.png', 'services-manufact', ),
  services-reviews-company: (258px, 559px, -258px, -559px, 55px, 50px, 768px, 722px, '/img/sprites.png', 'services-reviews-company', ),
  services-reviews-goods: (202px, 559px, -202px, -559px, 55px, 50px, 768px, 722px, '/img/sprites.png', 'services-reviews-goods', ),
  services-search: (365px, 559px, -365px, -559px, 57px, 38px, 768px, 722px, '/img/sprites.png', 'services-search', ),
  sevices-act: (659px, 527px, -659px, -527px, 21px, 21px, 768px, 722px, '/img/sprites.png', 'sevices-act', ),
  sevices-h: (681px, 527px, -681px, -527px, 21px, 21px, 768px, 722px, '/img/sprites.png', 'sevices-h', ),
  sevices-in: (703px, 527px, -703px, -527px, 21px, 21px, 768px, 722px, '/img/sprites.png', 'sevices-in', ),
  sevices-s-act: (204px, 660px, -204px, -660px, 13px, 13px, 768px, 722px, '/img/sprites.png', 'sevices-s-act', ),
  sevices-s-h: (190px, 660px, -190px, -660px, 13px, 13px, 768px, 722px, '/img/sprites.png', 'sevices-s-h', ),
  sevices-s: (218px, 660px, -218px, -660px, 13px, 13px, 768px, 722px, '/img/sprites.png', 'sevices-s', ),
  slider-arr-l-act: (16px, 660px, -16px, -660px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-l-act', ),
  slider-arr-l-dis: (32px, 660px, -32px, -660px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-l-dis', ),
  slider-arr-l-h: (64px, 660px, -64px, -660px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-l-h', ),
  slider-arr-l: (749px, 454px, -749px, -454px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-l', ),
  slider-arr-r-act: (749px, 426px, -749px, -426px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-r-act', ),
  slider-arr-r-dis: (48px, 660px, -48px, -660px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-r-dis', ),
  slider-arr-r-h: (0px, 660px, 0px, -660px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-r-h', ),
  slider-arr-r: (749px, 482px, -749px, -482px, 15px, 27px, 768px, 722px, '/img/sprites.png', 'slider-arr-r', ),
  sort-asc-arr: (114px, 705px, -114px, -705px, 8px, 16px, 768px, 722px, '/img/sprites.png', 'sort-asc-arr', ),
  sort-desc-arr: (123px, 705px, -123px, -705px, 8px, 16px, 768px, 722px, '/img/sprites.png', 'sort-desc-arr', ),
  thumbs-tail: (583px, 610px, -583px, -610px, 21px, 11px, 768px, 722px, '/img/sprites.png', 'thumbs-tail', ),
);
