$sprites-2x-map : (
  add-list-act: (100px, 161px, -100px, -161px, 23px, 12px, 209px, 191px, '/img/sprites@2x.png', 'add-list-act', ),
  add-list-h: (50px, 161px, -50px, -161px, 23px, 12px, 209px, 191px, '/img/sprites@2x.png', 'add-list-h', ),
  add-list: (75px, 161px, -75px, -161px, 23px, 12px, 209px, 191px, '/img/sprites@2x.png', 'add-list', ),
  breadcrumbs-arr: (201px, 36px, -201px, -36px, 4px, 8px, 209px, 191px, '/img/sprites@2x.png', 'breadcrumbs-arr', ),
  compare-act: (120px, 96px, -120px, -96px, 25px, 13px, 209px, 191px, '/img/sprites@2x.png', 'compare-act', ),
  compare-h: (25px, 161px, -25px, -161px, 23px, 13px, 209px, 191px, '/img/sprites@2x.png', 'compare-h', ),
  compare: (0px, 161px, 0px, -161px, 23px, 13px, 209px, 191px, '/img/sprites@2x.png', 'compare', ),
  filter-bar-ico-act: (42px, 140px, -42px, -140px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-bar-ico-act', ),
  filter-bar-ico-h: (21px, 140px, -21px, -140px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-bar-ico-h', ),
  filter-bar-ico: (0px, 140px, 0px, -140px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-bar-ico', ),
  filter-ico-act: (178px, 16px, -178px, -16px, 16px, 16px, 209px, 191px, '/img/sprites@2x.png', 'filter-ico-act', ),
  filter-ico-choosen-s: (0px, 114px, 0px, -114px, 32px, 24px, 209px, 191px, '/img/sprites@2x.png', 'filter-ico-choosen-s', ),
  filter-ico-choosen: (0px, 80px, 0px, -80px, 42px, 32px, 209px, 191px, '/img/sprites@2x.png', 'filter-ico-choosen', ),
  filter-ico-h: (178px, 52px, -178px, -52px, 16px, 16px, 209px, 191px, '/img/sprites@2x.png', 'filter-ico-h', ),
  filter-ico: (178px, 34px, -178px, -34px, 16px, 16px, 209px, 191px, '/img/sprites@2x.png', 'filter-ico', ),
  filter-tile-ico-act: (63px, 140px, -63px, -140px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-tile-ico-act', ),
  filter-tile-ico-h: (84px, 140px, -84px, -140px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-tile-ico-h', ),
  filter-tile-ico: (155px, 104px, -155px, -104px, 19px, 19px, 209px, 191px, '/img/sprites@2x.png', 'filter-tile-ico', ),
  filters-list-add: (141px, 161px, -141px, -161px, 10px, 10px, 209px, 191px, '/img/sprites@2x.png', 'filters-list-add', ),
  filters-list-remove: (69px, 176px, -69px, -176px, 14px, 14px, 209px, 191px, '/img/sprites@2x.png', 'filters-list-remove', ),
  flag-act: (178px, 0px, -178px, 0px, 21px, 14px, 209px, 191px, '/img/sprites@2x.png', 'flag-act', ),
  flag-h: (178px, 127px, -178px, -127px, 18px, 13px, 209px, 191px, '/img/sprites@2x.png', 'flag-h', ),
  flag: (178px, 142px, -178px, -142px, 18px, 13px, 209px, 191px, '/img/sprites@2x.png', 'flag', ),
  footer-menu-fb: (80px, 0px, -80px, 0px, 38px, 38px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-fb', ),
  footer-menu-gp: (40px, 40px, -40px, -40px, 38px, 38px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-gp', ),
  footer-menu-ico1-h: (80px, 40px, -80px, -40px, 33px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico1-h', ),
  footer-menu-ico1: (120px, 0px, -120px, 0px, 33px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico1', ),
  footer-menu-ico2-h: (79px, 80px, -79px, -80px, 33px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico2-h', ),
  footer-menu-ico2: (44px, 80px, -44px, -80px, 33px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico2', ),
  footer-menu-ico3-h: (120px, 64px, -120px, -64px, 30px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico3-h', ),
  footer-menu-ico3: (120px, 32px, -120px, -32px, 30px, 30px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico3', ),
  footer-menu-ico4-h: (70px, 114px, -70px, -114px, 34px, 21px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico4-h', ),
  footer-menu-ico4: (34px, 114px, -34px, -114px, 34px, 21px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico4', ),
  footer-menu-ico5-h: (155px, 125px, -155px, -125px, 14px, 10px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico5-h', ),
  footer-menu-ico5: (125px, 161px, -125px, -161px, 14px, 10px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-ico5', ),
  footer-menu-tw: (40px, 0px, -40px, 0px, 38px, 38px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-tw', ),
  footer-menu-vk: (0px, 0px, 0px, 0px, 38px, 38px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-vk', ),
  footer-menu-yt: (0px, 40px, 0px, -40px, 38px, 38px, 209px, 191px, '/img/sprites@2x.png', 'footer-menu-yt', ),
  home-ico: (51px, 176px, -51px, -176px, 16px, 14px, 209px, 191px, '/img/sprites@2x.png', 'home-ico', ),
  ico-list-act: (127px, 140px, -127px, -140px, 20px, 17px, 209px, 191px, '/img/sprites@2x.png', 'ico-list-act', ),
  ico-list-h: (149px, 140px, -149px, -140px, 20px, 17px, 209px, 191px, '/img/sprites@2x.png', 'ico-list-h', ),
  ico-list-in: (105px, 140px, -105px, -140px, 20px, 17px, 209px, 191px, '/img/sprites@2x.png', 'ico-list-in', ),
  login-act: (178px, 108px, -178px, -108px, 14px, 17px, 209px, 191px, '/img/sprites@2x.png', 'login-act', ),
  login-h: (178px, 70px, -178px, -70px, 14px, 17px, 209px, 191px, '/img/sprites@2x.png', 'login-h', ),
  login-in: (178px, 89px, -178px, -89px, 14px, 17px, 209px, 191px, '/img/sprites@2x.png', 'login-in', ),
  mark-act: (155px, 23px, -155px, -23px, 16px, 25px, 209px, 191px, '/img/sprites@2x.png', 'mark-act', ),
  mark-h: (155px, 50px, -155px, -50px, 16px, 25px, 209px, 191px, '/img/sprites@2x.png', 'mark-h', ),
  mark-in: (155px, 77px, -155px, -77px, 16px, 25px, 209px, 191px, '/img/sprites@2x.png', 'mark-in', ),
  search-ico-act: (178px, 157px, -178px, -157px, 15px, 15px, 209px, 191px, '/img/sprites@2x.png', 'search-ico-act', ),
  search-ico-h: (0px, 176px, 0px, -176px, 15px, 15px, 209px, 191px, '/img/sprites@2x.png', 'search-ico-h', ),
  search-ico-header: (17px, 176px, -17px, -176px, 15px, 15px, 209px, 191px, '/img/sprites@2x.png', 'search-ico-header', ),
  search-ico: (34px, 176px, -34px, -176px, 15px, 15px, 209px, 191px, '/img/sprites@2x.png', 'search-ico', ),
  sevices-act: (129px, 114px, -129px, -114px, 21px, 21px, 209px, 191px, '/img/sprites@2x.png', 'sevices-act', ),
  sevices-h: (155px, 0px, -155px, 0px, 21px, 21px, 209px, 191px, '/img/sprites@2x.png', 'sevices-h', ),
  sevices-in: (106px, 114px, -106px, -114px, 21px, 21px, 209px, 191px, '/img/sprites@2x.png', 'sevices-in', ),
  sort-asc-arr: (201px, 0px, -201px, 0px, 8px, 16px, 209px, 191px, '/img/sprites@2x.png', 'sort-asc-arr', ),
  sort-desc-arr: (201px, 18px, -201px, -18px, 8px, 16px, 209px, 191px, '/img/sprites@2x.png', 'sort-desc-arr', ),
);
